.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.featureDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-700);
} 